h1 Hello World

The current time is #{new Date().toString()}

script
  var socket = io.connect( 'http://#{request.headers.host}' );
  socket.on( 'news', function( data ) {
    console.log( data );
    socket.emit( 'my other event', { my: 'data' } );
  });
