#board {
  border: 1px solid red;
  position: relative;
  width: 400px;
  height: 400px;
}

.note {
  width: 170px;
  height: 210px;
  padding: 20px 40px;
  background-image: url(stickie.png);
  position: absolute;
}

.note .content {
  font-family: felt-tip-woman-1;
}

#proto_note, .note form {
  display: none;
}

a.delete {
  cursor: pointer;
}

textarea {
  background-color: transparent;
  font-family: felt-tip-woman-1;
  width: 100%;
  font-size: 16px;
  border: none;
}
