body {
  background-image: url(whiteboard.jpg);
}

h1 {
  font-family: felt-tip-woman-1;
  font-size: 32px;
}

#board {
  position: relative;
  width: 1280px;
  height: 562px;
}

.note {
  width: 170px;
  height: 210px;
  padding: 20px 40px;
  background-image: url(stickie.png);
  position: absolute;
}

.note .content {
  font-family: felt-tip-woman-1;
}

#proto_note, .note form {
  display: none;
}

a.delete {
  cursor: pointer;
}

textarea {
  background-color: transparent;
  font-family: felt-tip-woman-1;
  width: 100%;
  height: 160px;
  font-size: 16px;
  border: none;
}
